@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Source+Serif+Pro:wght@900&display=swap');

/*GENERAL STYLES*/

a {
    text-decoration: none;
    color: inherit
}

.tab {
    display: block;
    width: 3em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: 'Open Sans', sans-serif;
}

.container-fluid {
    padding: 0;
}

body {
    box-sizing: content-box;
    background: #013602;
}

.row {
    margin-right: 0;
}

/*HEADER - LOGO AND TAGLINE*/

.header {
    background-color: #ffe7ab;
}

.logo {
    max-width: 100%;
    max-height: 200px;
    padding: 10px 0px 10px 10px;
    background-repeat: no-repeat;
}

.tagline {
    color: #660000;
    text-align: center;
    border-top: 2px solid #660000;
    border-bottom: 2px solid #660000;
    background-color: #ffe7ab;
    font-family: 'Open Sans', sans-serif;
}

/*HEADER - MENU*/

.hmbgr-menu {
    position: absolute;
    right: 10px;
    width: 35px;
    height: 60px;
    padding: 25px 50px 0px 0px;
    border: none;
    font-size: 40px;
    color: #660000;
}

.hmbgr-menu-list {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    background: #ffe7ab;
    color: #660000;
    padding: 10px 10px 10px 20px;
    position: relative;
    top: 10px;
}

.hmbgr-menu-list a:hover {
    color: #013602;
    font-weight: 900;
}

.active {
    font-weight: 900;
    text-decoration: underline;
}

#menu-item {
    border-top: 4px solid #660000;
    border-bottom: 4px solid #660000;
    padding: 0;
    max-width: 100%;
    justify-content: space-around;
}

#menu-item a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 25px;
    background: #ffe7ab;
    color: #660000;
}

#menu-item a:hover {
    color: #013602;
    font-weight: 900;
}

/*HOME PAGE*/

.home-body {
    background: #013602;
    max-width: 100%;
}

/*HOME - THEME PICS/LINKS*/

#pic-modern {
    background-image: url("../images/modern.jpg");
}

#pic-diesel {
    background-image: url("../images/diesel.jpg");
}

#pic-steam {
    background-image: url("../images/steam.jpg");
}

.theme-pic {
    overflow: hidden;
    height: 17vh;
    width: 70vw;
    border: 3px solid #ffe7ab;
    border-radius: 15%;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

p.home-theme-text {
    width: calc(100% + 30px);
    margin-left: -15px;
    margin-top: -2px;
    display: block;
    padding: 3px 0;
    border-radius: 20px 20px 0 0;
}

.home-theme-text {
    text-transform: uppercase;
    background-color: #ffe7ab;
    color: #660000;
    border: 2px solid #660000;
    border-radius: 20px;
    text-align: center;
    font-weight: 600;
}

/*THEME PAGES*/

/*TRACK*/

#train-track-wide {
    display: none;
}

#train-track {
    display: flex;
    flex-direction: row;
    width: 90%;
    position: relative;
}

.track-container {
    display: flex;
    margin-left: 5%;
}

/*MEETINGS*/

.meetings-section {
    background-color: rgba(102, 0, 0, 0.8);
    display: flex;
}

.meetings-ctr {
    color: #ffe7ab;
}

.meetings-ctr a {
    text-decoration: underline;
}

.meeting-item {
    max-width: 1116px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.train-icon {
    font-size: 30px;
}

.theme-text {
    font-family: 'Source Serif Pro', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1.2px;
}

/*THEME PAGES - GALLERY LINK*/

.gallery-link-pics img {
    height: 100%;
    width: 100%;
    clear: both;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

.gallery-link-pics {
    max-width: 1116px;
    margin: 10px auto;
}

.gallery-wrap {
    display: none;
}

.gallery-wrap:first-of-type {
    display: block;
}

.gallery-link {
    background: #ffe7ab;
    font-size: 24px;
    text-align: center;
    font-weight: 600;
    height: 300px;
    margin-bottom: 57px;
}

/*THEME PAGES - SIGN UP LINK*/

.sign-up-link {
    text-align: center;
    font-weight: 600;
    color: #ffe7ab;
    background: #013602;
    padding: 5px;
}

/*GALLERY PAGE*/

#photo {
    clear: both;
    line-height: 0;
    column-count: 2;
    column-gap: 0px;
    margin-bottom: 57px;
}

#photo img {
    width: 100%;
}

/*CONTACT PAGE*/

.sign-up-section {
    background: #013602;
}

.sign-up-container {
    color: #ffe7ab;
    background: #660000;
    margin: 20px 15px 40px 15px;
    border: 3px solid #ffe7ab;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

.sign-up-form {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding: 20px;
    text-align: center;
}

#name {
    margin: 6px;
}

#email {
    margin: 6px;
}

input[type='text'],
input[type='email'] {
    padding: 0px 15px;
}

.button {
    color: #ffe7ab;
    background: #013602;
}

input[type=checkbox] {
    transform: scale(1.5);
}

/*SIGNED UP - THANK YOU*/

.signed-up {
    background: #660000;
    font-size: 20px;
    text-align: center;
    color: #ffe7ab;
    width: 70vw;
    display: block;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border: 4px #ffe7ab solid;
}

.return-home {
    font-size: 16px;
}


/*FOOTER*/

footer {
    position: fixed;
    bottom: 0px;
    text-align: center;
    color: #660000;
    background: #ffe7ab;
    border-top: 2px solid #660000;
    font-size: 20px;
}

footer li {
    font-size: 24px;
}

footer a:hover {
    color: #013602;
}

footer i:hover {
    transform: scale(1.5, 1.5);
}

/*404 PAGE*/

#logo-broken-link {
    max-height: 20vh;
    margin-left: auto;
    margin-right: auto;
}

#broken-link {
    background: #013602;
}

#broken-link-box {
    background: #660000;
    color: #ffe7ab;
    border: 3px solid #ffe7ab;
    text-align: center;
    padding: 10px;
    margin: 5%;
    line-height: 30px;
}

#broken-link-box h1 {
    font-weight: 800;
}

#broken-link-box p {
    font-size: 25px;
}

/*MEDIA QUERIES*/

/*STYLING FOR SCREENS WIDER THAN MOBILE*/

@media only screen and (min-width: 768px) {
    .theme-pic {
        height: 50vh;
        width: 27vw;
        border: 3px solid #ffe7ab;
        border-radius: 15%;
        margin-top: 40px;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .home-theme-text {
        text-transform: uppercase;
        background-color: #ffe7ab;
        color: #660000;
        border: 2px solid #660000;
        border-radius: 20px;
        text-align: center;
        font-weight: 600;
        margin-top: 20px;
        font-size: 30px;
    }

    #photo {
        clear: both;
        line-height: 0;
        column-count: 4;
        column-gap: 0px;
        margin-bottom: 57px;
    }

    .sign-up-form {
        font-size: 24px;
        padding: 50px;
        text-align: center;
    }

    .meeting-item {
        display: flex;
        flex-direction: row;
        font-size: 25px;
    }

    .theme-text {
        font-size: 30px;
    }

    #train-track-wide {
        max-height: 100px;
        height: auto;
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        object-fit: fill;
    }

    .track-container-wide {
        background-color: rgba(102, 0, 0, 0.8);
        display: flex;
    }

    .track-container {
        display: none;
    }

    .gallery-wrap {
        width: 20%;
        height: 200px;
        display: block;
    }

    .signed-up {
        font-size: 40px;
    }

    .return-home {
        font-size: 30px;
    }

    footer {
        font-size: 30px;
    }

    footer li {
        font-size: 30px;
    }
}

/*STYLING TO REMOVE HAMBURGER MENU WHERE NAVBAR WILL FIT*/

@media only screen and (min-width: 822px) {

    .hmbgr-menu {
        display: none;
    }
}

/*STYLING TO ENSURE NAVBAR STAYS HORIZONTAL AND LOGO IS CENTRED ON LARGER SCREENS*/

@media only screen and (min-width: 991px) {
    .menu-bar {
        font-size: 16px;
    }

    .hidden-col-3 {
        display: none;
    }

    .logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

/*STYLING TO HIDE NAVBAR FOR MOBILE*/

@media (max-width: 822px) {
    .menu-bar {
        display: none;
    }

    .hidden-col-3 {
        display: none;
    }
}

/*STYLING TO CENTRE LOGO AT MIDDLE WIDTHS*/
@media screen and (max-width: 991px) and (min-width: 822px) {
    .logo {
        display: block;
        float: left;
    }
}