@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Source+Serif+Pro:wght@900&display=swap');
/*---General*/

a {
    text-decoration: none;
    color: inherit
}

.tab {
    display: block;
    width: 3em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: 'Open Sans', sans-serif;
}


/*---Menu/Logo*/

.header {
    background-color: #ffe7ab;
}

.logo {
    max-width: 100%;
    padding: 10px 0px 10px 10px;
    background-repeat: no-repeat;
}

.tagline {
    color: #660000;
    text-align: center;
    border-top: 2px solid #660000;
    border-bottom: 2px solid #660000;
    background-color: #ffe7ab;
    font-family: 'Open Sans', sans-serif;
}

.hmbgr-menu {
    position: absolute;
    right: 10px;
    width: 35px;
    height: 60px;
    padding: 25px 50px 0px 0px;
    border: none;
    font-size: 40px;
    color: #660000;
}

.hmbgr-menu-list {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    background: #ffe7ab;
    color: #660000;
    padding: 10px 10px 10px 20px;
    position: relative;
    top: 10px;
}

.active {
    font-weight: 900;
    text-decoration: underline;
}

/*---Home page*/

.home-body {
    background: #013602;
    height: 80vh;
}

#pic-modern {
    background-image: url("../images/modern.jpg");
}

#pic-diesel {
    background-image: url("../images/diesel.jpg");
}

#pic-steam {
    background-image: url("../images/steam.jpg");
}

.theme-pic {
overflow: hidden;
    height: 17vh;
    width: 70vw;
    border: 3px solid #ffe7ab;
    border-radius: 15%;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.home-theme-text {
    text-transform: uppercase;
    background-color: #ffe7ab;
    color: #660000;
    border: 2px solid #660000;
    border-radius: 20px;
    text-align: center;
    font-weight: 600;
}


/*---Themed pages*/

.track {
    max-width: 100%;
    background-repeat: no-repeat;
}

.meetings-section {
    background-color: rgba(102, 0, 0, 0.8);
    padding-top: 10px;
}

.meetings-ctr {
    color: #ffe7ab;
}

.meetings-ctr a {
    text-decoration: underline;
}

.meetings {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.theme-text {
    font-family: 'Source Serif Pro', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
}



/*---Sign-up*/

.sign-up-link {
    text-align: center;
    font-weight: 600;
    color: #ffe7ab;
    background: #013602;
    padding: 5px;
}

/*---Gallery*/

.gallery-link {
    font-size: 24px;
    text-align: center;
    font-weight: 600;
}

/*---Contact page*/

.sign-up-section {
    background: #013602;
    height: 100vh;
}

.sign-up-container {
    color: #ffe7ab;
    background: #660000;
    margin: 20px 15px 40px 15px;
    border: 3px solid #ffe7ab;
}

.sign-up-form {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding: 20px;
    text-align: center;
}

#name {
    margin: 6px;
}

#email {
    margin: 6px;
}

.button {
    color: #ffe7ab;
    background: #013602;
}

input[type=checkbox] {
    transform: scale(1.5);
}


/*---Footer*/

footer {
    position: fixed;
    bottom: 0px;
    text-align: center;
    color: #660000;
    background: #ffe7ab;
    border-top: 2px solid #660000;
    font-size: 20px;
}

footer li {
    font-size: 24px;
}