@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Source+Serif+Pro:wght@900&display=swap');

/*---General*/

a {
    text-decoration: none;
    color: inherit
}

/*---Menu/Logo*/

.logo {
max-width: 100%;
padding: 30px 0px 10px 10px;
}

.tagline {
    color: #660000;
    text-align: center;
border-top: 2px solid #660000;
border-bottom: 2px solid #660000;
background-color: #ffe7ab;
font-family: 'Open Sans', sans-serif;
}

.hmbgr-menu {
    position: absolute;
    right: 10px;
    width: 35px;
    height: 60px;
    padding: 40px 50px 0px 0px;
    border: none;
    font-size:40px;
    color: #660000;
}

.hmbgr-menu-list {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    background: #ffe7ab;
    color: #660000;
    padding: 10px 10px 10px 20px;
    position: relative;
    top: 10px;
}

/*---Footer*/

footer {
    position: absolute;
    bottom: 0px;
    text-align: center;
    color: #660000;
}